//Color Basic
$mainColor:#e2494b;
//Color Paragraph
$paragColor:#979797;
//screen xs
$mobileScreen:"(max-width:767px)";
$smallScreen:"(min-width:768px)";
$mediumScreen:"(min-width:992px)";
$largeScreen:"(min-width:1200px)";